name: CI
on: 
  push:
    branches:
      - main
      - feature/*
  pull_request:
jobs:
  detekt:
    name: Check Code Quality
    runs-on: ubuntu-latest

    steps:
      - name: Clone repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
          ref: ${{ github.head_ref }}

      - name: detekt
        uses: DominuS-RU/Detekt-Action@v0.3
        with:
          github_token: ${{ secrets.github_token }}
          detekt_config: detekt-config.yml
